/* base */
html, body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", "Noto", "Oxygen-Sans", "Noto Sans", "Ubuntu", "Cantarell", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
}

blockquote, dl, ol, p, pre, ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

code, pre {
	font-family: monospace;
}

/* variables */

:root {
	--unit-0: 0;
	--unit-1: 0.5rem;
	--unit-2: 1rem;
	--unit-3: 1.5rem;
	--unit-4: 2.5rem;
	--unit-5: 4rem;
	--unit-6: 6.5rem;

	/* colors */
	--purple: #7574ff;
	--blue: #a0d4ff;
	--green: #ddf18f;
	--red: #ffa6a0;
	--orange: #ffd0af;
	--yellow: #fff2b4;

	--black: #36414c;
	--dark-grey: #67737f;
	--grey: #9ca5ae;
	--light-grey: #d3d7db;
	--white: #ffffff;

	--primary-color: var(--purple);
}

/* typography */

.h1 {
	font-size: var(--unit-4);
}

.h2 {
	font-size: var(--unit-3);
}

.h3 {
	font-size: var(--unit-2);
}

/* spacing */

/* margin */
.mt0 {
	margin-top: var(--unit-0)
}

.mb0 {
	margin-bottom: var(--unit-0);
}

.ml0 {
	margin-left: var(--unit-0);
}

.mr0 {
	margin-right: var(--unit-0);
}

.m0 {
	margin: var(--unit-0);
}

.mt1 {
	margin-top: var(--unit-1);
}

.mb1 {
	margin-bottom: var(--unit-1);
}

.ml1 {
	margin-left: var(--unit-1);
}

.mr1 {
	margin-right: var(--unit-1);
}

.m1 {
	margin: var(--unit-1);
}

.mt2 {
	margin-top: var(--unit-2);
}

.mb2 {
	margin-bottom: var(--unit-2);
}

.ml2 {
	margin-left: var(--unit-2);
}

.mr2 {
	margin-right: var(--unit-2);
}

.m2 {
	margin: var(--unit-2);
}

.mt3 {
	margin-top: var(--unit-3);
}

.mb3 {
	margin-bottom: var(--unit-3);
}

.ml3 {
	margin-left: var(--unit-3);
}

.mr3 {
	margin-right: var(--unit-3);
}

.m3 {
	margin: var(--unit-3);
}

.mt4 {
	margin-top: var(--unit-4);
}

.mb4 {
	margin-bottom: var(--unit-4);
}

.ml4 {
	margin-left: var(--unit-4);
}

.mr4 {
	margin-right: var(--unit-4);
}

.m4 {
	margin: var(--unit-4);
}

/* padding */
.pt0 {
	padding-top: var(--unit-0)
}

.pb0 {
	padding-bottom: var(--unit-0);
}

.pl0 {
	padding-left: var(--unit-0);
}

.pr0 {
	padding-right: var(--unit-0);
}

.p0 {
	padding: var(--unit-0);
}

.pt1 {
	padding-top: var(--unit-1);
}

.pb1 {
	padding-bottom: var(--unit-1);
}

.pl1 {
	padding-left: var(--unit-1);
}

.pr1 {
	padding-right: var(--unit-1);
}

.p1 {
	padding: var(--unit-1);
}

.pt2 {
	padding-top: var(--unit-2);
}

.pb2 {
	padding-bottom: var(--unit-2);
}

.pl2 {
	padding-left: var(--unit-2);
}

.pr2 {
	padding-right: var(--unit-2);
}

.p2 {
	padding: var(--unit-2);
}

.pt3 {
	padding-top: var(--unit-3);
}

.pb3 {
	padding-bottom: var(--unit-3);
}

.pl3 {
	padding-left: var(--unit-3);
}

.pr3 {
	padding-right: var(--unit-3);
}

.p3 {
	padding: var(--unit-3);
}

.pt4 {
	padding-top: var(--unit-4);
}

.pb4 {
	padding-bottom: var(--unit-4);
}

.pl4 {
	padding-left: var(--unit-4);
}

.pr4 {
	padding-right: var(--unit-4);
}

.p4 {
	padding: var(--unit-4);
}


/* utilities */

.border0 {
	border: none;
}

.border {
	border: 1px solid var(--light-grey);
}


/* old */
.align-items-center {
	align-items: center;
}

.hide,
.hidden {
	display: none;
	visibility: hidden;
}

.top-zero {
	margin-top: 0;
}

.bottom-zero {
	margin-bottom: 0;
}

.top-spacer {
	margin-top: 2.5rem;
}

.bottom-spacer {
	margin-bottom: 2.5rem;
}

.top-spacer-4 {
	margin-top: 4rem;
}

.bottom-spacer-4 {
	margin-bottom: 4rem;
}

.gray-bg {
	background-color: var(--light-grey);
}

.dark-bg {
	background-color: var(--dark-grey);
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-muted {
	color: var(--grey);
}

.text-light {
	color: var(--light-grey);
}

.text-white {
	color: #fff;
}

.text-normal {
	font-size: 1rem;
}

.text-medium {
	font-size: 1.5rem;
}

.text-small {
	font-size: 0.5rem;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.bold {
	font-weight: bold;
}

.list-unstyled {
	padding: 0;

	li {
		list-style: none;
	}
}

.list-circle {
	list-style: circle;
}

.bullet {
	&::before {
		content: "\2022";
		display: inline-block;
		width: 1em;
		font-size: 1.25rem;
	}
}

.half-width {
	max-width: 50%;
}

.saturate {
	filter: grayscale(100%);

	&:hover {
		filter: grayscale(0%);
	}
}

/* colors */

/*
.green-bullet {
	&::before {
		color: @indicator-green;
	}
}
*/

/* components */

.grid-of-four,
.grid-of-three {
	grid-gap: 2.5rem;
	display: grid;
}

/*
.grid-of-four {
	grid-template-columns: repeat(1, 1fr);

	@media screen and (min-width: @screen-palm) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: @screen-xs) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (min-width: @screen-sm) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.grid-of-three {
	grid-template-columns: repeat(1, 1fr);

	@media screen and (min-width: @screen-palm) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: @screen-xs) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.columns {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media screen and (min-width: @screen-xs) {
		flex-direction: inherit;
	}
}

.column {
	margin-bottom: 1rem;

	@media screen and (min-width: @screen-xs) {
		margin: 0;
	}
}

.three-column {
	max-width: 100%;

	@media screen and (min-width: @screen-xs) {
		max-width: 33%;
	}
}

.copyright {
	font-size: 1rem;

	@media screen and (min-width: @screen-xs) {
		font-size: 0.75rem;
	}
}
*/

.flex-wrap {
	flex-wrap: wrap;
	justify-content: flex-start;
}

.grid-center {
	justify-items: center;
}
