/* base */

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", "Noto", "Oxygen-Sans", "Noto Sans", "Ubuntu", "Cantarell", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.62;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
}

blockquote,
dl,
ol,
p,
pre,
ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

code,
pre {
	font-family: monospace;
}

input {
	outline: none;
	border: none;
	border-radius: var(--border-radius);
}

a {
	color: var(--dark-grey);
}

/* utilities */

.border0 {
	border: none;
}

.border {
	border: var(--border-value);
}

.border-right {
	border-right: var(--border-value);
}

.border-top {
	border-top: var(--border-value);
}

.border-bottom {
	border-bottom: var(--border-value);
}

.border-left {
	border-left: var(--border-value);
}

/* list */

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* button */

.btn {
	padding: 0.5em 1em;
	color: var(--white);
	background-color: var(--grey);
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--dark-grey);
}

/* color utilities */

.bg-dark-grey {
	background-color: var(--dark-grey);
}

.bg-light-grey {
	background-color: var(--light-grey);
}

.bg-light {
	background-color: var(--bg-light);
}

.bg-white {
	background-color: var(--white);
}

.focus\:bg-white:focus {
	background-color: var(--white);
}

.hover\:bg-white:hover {
	background-color: var(--white);
}

.hover\:bg-light-grey:hover {
	background-color: var(--light-grey);
}

.hover\:bg-light:hover {
	background-color: var(--bg-light);
}

.border-radius {
	border-radius: var(--border-radius);
}

.container {
	max-width: var(--screen-md);
}

.inline-block {
	display: inline-block;
}

/* positions */

.relative {
	position: relative;
}

.top-sticky {
	position: sticky;
	top: 0;
}

/* images */

.thumb-small {
	width: var(--unit-2);
	height: auto;
}

.thumb-medium {
	width: var(--unit-5);
	height: auto;
}

.thumb-large {
	width: var(--unit-6);
	height: auto;
}
