/* base */

html, body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", "Noto", "Oxygen-Sans", "Noto Sans", "Ubuntu", "Cantarell", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
}

blockquote, dl, ol, p, pre, ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

code, pre {
	font-family: monospace;
}

/* utilities */

.border0 {
	border: none;
}

.border {
	border: var(--border-value);
}

.border-right {
	border-right: var(--border-value);
}

/* list */

.list-unstyled {
	list-style: none;
}
