/* flex */

.flex {
	display: flex;
}

.align-item-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}
