/* margin */
.mt0 {
	margin-top: var(--unit-0);
}

.mb0 {
	margin-bottom: var(--unit-0);
}

.ml0 {
	margin-left: var(--unit-0);
}

.mr0 {
	margin-right: var(--unit-0);
}

.m0 {
	margin: var(--unit-0);
}

.m0auto {
	margin: 0 auto;
}

.mt1 {
	margin-top: var(--unit-1);
}

.mb1 {
	margin-bottom: var(--unit-1);
}

.ml1 {
	margin-left: var(--unit-1);
}

.mr1 {
	margin-right: var(--unit-1);
}

.m1 {
	margin: var(--unit-1);
}

.mt2 {
	margin-top: var(--unit-2);
}

.mb2 {
	margin-bottom: var(--unit-2);
}

.ml2 {
	margin-left: var(--unit-2);
}

.mr2 {
	margin-right: var(--unit-2);
}

.m2 {
	margin: var(--unit-2);
}

.mt3 {
	margin-top: var(--unit-3);
}

.mb3 {
	margin-bottom: var(--unit-3);
}

.ml3 {
	margin-left: var(--unit-3);
}

.mr3 {
	margin-right: var(--unit-3);
}

.m3 {
	margin: var(--unit-3);
}

.mt4 {
	margin-top: var(--unit-4);
}

.mb4 {
	margin-bottom: var(--unit-4);
}

.ml4 {
	margin-left: var(--unit-4);
}

.mr4 {
	margin-right: var(--unit-4);
}

.m4 {
	margin: var(--unit-4);
}

.mh1 {
	padding-left: var(--unit-1);
	padding-right: var(--unit-1);
}

.mh2 {
	padding-left: var(--unit-2);
	padding-right: var(--unit-2);
}

.mh3 {
	padding-left: var(--unit-3);
	padding-right: var(--unit-3);
}

.mh4 {
	padding-left: var(--unit-4);
	padding-right: var(--unit-4);
}

.mv1 {
	padding-top: var(--unit-1);
	padding-bottom: var(--unit-1);
}

.mv2 {
	padding-top: var(--unit-2);
	padding-bottom: var(--unit-2);
}

.mv3 {
	padding-top: var(--unit-3);
	padding-bottom: var(--unit-3);
}

.mv4 {
	padding-top: var(--unit-4);
	padding-bottom: var(--unit-4);
}
