/* typography */

.h1 {
	font-size: var(--unit-4);
}

.h2 {
	font-size: var(--unit-3);
}

.h3 {
	font-size: var(--unit-2);
}

/* colors */

.text-white {
	color: var(--white);
}

.text-light {
	color: var(--bg-light);
}

.text-light-grey {
	color: var(--light-grey);
}

.text-dark-grey {
	color: var(--dark-grey);
}

.text-black {
	color: var(--black);
}

.text-semi-bold {
	font-weight: 600
}

.text-center {
	text-align: center;
}
