/* variables */

:root {
	--unit-0: 0;
	--unit-1: 0.5rem;
	--unit-2: 1rem;
	--unit-3: 1.5rem;
	--unit-4: 2.5rem;
	--unit-5: 4rem;
	--unit-6: 6.5rem;

	/* colors */
	--purple: #7574ff;
	--blue: #a0d4ff;
	--green: #ddf18f;
	--red: #ffa6a0;
	--orange: #ffd0af;
	--yellow: #fff2b4;

	--black: #363d42;
	--dark-grey: #6d7a83;
	--grey: #adb5bb;
	--light-grey: #ebeff2;
	--bg-light: #fafbfc;
	--white: #ffffff;
	--primary-color: var(--purple);

	--border-value: 1px solid var(--light-grey);
	--border-radius: 0.25rem;

	/* screens */
	--screen-md: 1440px;
}
